    @include 'partials/header.html'
    <main class="container">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="display-6">New Article</h2>
          <form action="/articles/add" method="POST">
            <div class="">
            <input type="text" class="form-control mb-3" placeholder="Title" name="title" />
            <textarea placeholder="Content" class="form-control mb-3" name="content"></textarea>
            <button type="submit" class="btn btn-primary">Add Article</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class=" card-body">
      <h2 class="display-6 mb-4">List of Articles</h2>
      @if ctx.articles.len == 0
      <div class="alert alert-warning">There are no articles yet.</div>
      @else
      @for post in ctx.articles
          <div class="row align-items-center">
            <div class="col-10">
              <h5 class="fs-3 text-secondary"><a class="link-dark fw-bold link-underline-opacity-0 text-capitalize" href="/articles/@{post.id.str()}" >@{post.id} - @{post.title}</a></h5>
              <p class="post_content">@{post.content}</p>
            </div>
            <div class="col-2 text-right align-middle">
              <form action="/articles/@{post.id}/delete" method="POST">
                <button type="submit" class="btn btn-outline-danger">delete</button>
              </form>
            </div>
          </div>
          <hr/>
      @endfor
      @endif

        </div>   
      </div>
 
    </main>
