<form hx-target="this" hx-indicator="htmx-indicator" hx-swap="outerHTML">
    <div class="">
        <label for="title" name="Title" class="form-label">Title</label>
            <input id="title" type="text" class="form-control mb-3" placeholder="Title" name="title" value="@post.title" />
        <label for="content" name="Content" class="form-label">Content</label>
            <textarea id="content" placeholder="Content" class="form-control mb-3" name="content" value="@post.content">@post.content</textarea>
    <button hx-put="/post-edit/@post.id" class="btn btn-primary">Save Changes</button>
    <button hx-get="/post-edit/@post.id" hx-swap="outerHTML" class="btn btn-primary">Cancel</button>
    </div>
  </form>

  <style>
    .htmx-indicator{
        display:none;
    }
    .htmx-request .htmx-indicator{
        display:inline;
    }
    .htmx-request.htmx-indicator{
        display:inline;
    }
    </style>